html {
  box-sizing: border-box;
  transform-origin: 50% 50%;
  overflow-x: hidden;
}

.showSection {
  padding: 135px 0 93px;
  overflow: hidden;
  background-image: url(../images/pattern-light.jpg);
  background-repeat: repeat;
}

.showContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: calc(100% - 30px);
  position: relative !important;
}

.discoverBody {
  color : #28282a;
  margin-top: 50px;
  margin-right: -200px;
  position: relative;
  z-index: 10;
}

.discoverWrapper {
  width: 74.6%;
  max-width: 865px;
  position: relative;
}

.discoverImageWrapper {
  overflow: hidden;
}

.discoverImageContain {
  margin-right: -30px;
  position: relative;
  overflow: hidden;
}

.discoverTitle {
  margin-bottom: 3px;
  font-size: 68px;
}

.discoverText {
  max-width: 305px;
  margin: 0;
  font-size: 17px;
}

/* .discoverImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.discoverWrapButton {
  position: absolute;
  right: -60px;
  bottom: 43px;
}

.wrapButton {
  background-color: black;
  display: inline-block;
  padding: 21px 54px 20px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1024px) {
  

  .showSection {
    padding: 46px 0 52px;
  }

  .discoverBody {
    margin-right: 0;
  }

  .discoverTitle {
    font-size: 40px;
  }
  

  .discoverWrapper {
    margin-top: -36px;
    max-width: 650px;
  }

  .discoverImageWrapper {
    transform: translateX(50%);
  }

  .discoverImageContain {
    margin-right: 0;
  }

  .discoverWrapButton {
      position: relative;
      right: auto;
      display: flex;
      justify-content: center;
      bottom: auto;
      margin-top: -38px;
  }

}

.c-cursor {
  background-color: transparent !important;
}